body {
    padding: 0;
    margin: 0;
    background-color: rgb(81, 123, 99);
}

.main {
    margin: 0 auto;
    max-width: 960px;
    background-color: rgb(57, 85, 62);
    padding: 10px;
    
    margin-top: 15px;
    margin-bottom: 0px;
    
    

}

.field {
    margin: 5px;
    margin-bottom: 10px;
    
}

#result {
    margin-left: 10px;
}


@media screen and (min-width: 1100px) {
    body {
        padding: 0;
        margin: 0;
        background-color: rgb(81, 123, 99);
    }

    .main {
        margin: 0 auto;
        max-width: 960px;
        background-color: rgb(57, 85, 62);
        padding: 10px;
        
        margin-top: 15px;
        margin-bottom: 0px;
        
        

    }

    .field {
        margin: 5px;
        margin-bottom: 10px;
        
    }

    #result {
        margin-left: 10px;
    }
}