body {
    padding: 0;
    margin: 0;
    background-color: rgb(197, 231, 199); 
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    margin-left: 10px;
    
}

header {
    height: 120px;
    background-color:rgb(76, 156, 83);
    margin-top: -20px;
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

header h1 {
    float:right; 
    margin-right: 10px;
}

.main, .form {
    margin: 0 auto;
    max-width: 100%;
    background-color: rgb(76, 156, 83);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 0px;

}

nav ul{
   
    padding-left: 10px;
    padding-right: 10px;
    

}

nav ul li{
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;

}

.link {
    margin-right: 10px;
}

a {
    color: rgb(14, 46, 17);
}

 table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.nechet {
    background-color: rgb(113, 199, 120);
}

.chet {
    background-color: rgb(54, 145, 61);
}

ol, nav, table, form {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 10px;

}

footer {
    height: 100px;
    background-color:rgb(76, 156, 83);
    margin-top: 10px;
    padding-top: 1px;
    flex: 0 0 auto;
}


.header {
    max-width: 100%;
    margin: 0 auto;
    
}  

#table-form  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    
}



.form {
    order: -1;
    width:100%;
}

.main {
    width: 100%;
}



@media screen  and (min-width: 1100px) { 
body {
    padding: 0;
    margin: 0;
    background-color: rgb(197, 231, 199); 
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    margin-left: 110px;
    
}
.header {
    max-width: 960px;
    margin: 0 auto;
    width:100%;
}
header {
    height: 120px;
    width: 100%;
    background-color:rgb(76, 156, 83);
    margin-top: -20px;
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

header h1 {
    float:left; 
    margin-right: 10px;
}

.main, .form {
    margin: 0 auto;
    max-width: 960px;
    background-color: rgb(76, 156, 83);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 0px;

}

nav ul{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    

}

nav ul li{
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;

}

.link {
    margin-right: 10px;
}

a {
    color: rgb(14, 46, 17);
}

 table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.nechet {
    background-color: rgb(113, 199, 120);
}

.chet {
    background-color: rgb(54, 145, 61);
}

ol, nav, table, form {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 10px;

}

footer {
    height: 100px;
    background-color:rgb(76, 156, 83);
    margin-top: 10px;
    padding-top: 1px;
    flex: 0 0 auto;
}




#table-form {
    display: block;

}
}



